{% extends "wrapper.html" %}
{% load rest_framework %}

{% block content %}
<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        <h1 class="title">
            АВИАКАССА
        </h1>
        <h2 class="subtitle">
            Поиск доступных рейсов
        </h2>
        <div class="field is-grouped">
            <form METHOD='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ takeoff }}
                <input class="btn btn-primary" type="submit" value="OK">
            </form>
        </div>
    </div>
</div>
{% endblock %}