{% extends "wrapper.html" %}
{% load rest_framework %}

{% block content %}
<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        <h1 class="title">
            Найдите авиабилет
        </h1>
        <h2 class="subtitle">
            АВИАКАССА - лучший способ найти билеты дешевле всего!
        </h2>
        <div class="box">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Enter...">
                </p>
                <p class="control">
                    <a class="button is-info">
                        Известите меня
                    </a>
                </p>
            </div>
        </div>
            <div class="field is-grouped" align="center">
            <!-- <ul>
                {% for air in airports %}
                <li>{{ air.name }}</li>
                {% endfor %}
            </ul> -->
            <form METHOD='POST'>
                <select>
                    {% for f in takeoffs %}
                        <option value="{{ f.name }}">{{ f.name }}</option>
                    {% endfor %}
                </select>
                <select>
                    {% for f in arrivals %}
                        <option value="{{ f.name }}">{{ f.name }}</option>
                    {% endfor %}
                </select>
                <div style="text-align: center;">
                    <input type="date">
                    {{ example_form.my_date_field }}
                </div>
            </form>
                <!-- <select>
                    {% for air in airports %}
                        <option value='{{ air.air_name }}'>{{ air.air_name }}</option>
                    {% endfor %}
                </select>
                <select>
                    {% for air in airports %}
                        <option value='{{ air.air_name }}'>{{ air.air_name }}</option>
                    {% endfor %}
                </select> -->
            </div>
    </div>
</div>
{% endblock %}